.bd{
    background-image: url(../img/red.jpeg);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
}
body{
    background-color: aliceblue;
    margin: 5%;
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 20%;
}
.container{
    margin:0 auto;
	background-color: #000;
	color: #FFF;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity: 0.95;
}
h1{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    text-align: center;
    }
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}
.intro{
    font-size: 1.5em;
}

/*-- NAVEGATION STYLING --*/
nav{
    display:inline;
    background-color: #212121;
    height: 7%;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 12%;
    margin-top: 30%;
    cursor: pointer;
}
nav a{
    color: #cd3333;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}
nav ul{
    padding-bottom: 2%;
    height:1%;
}
 nav a:hover {
    text-decoration: none;
    color: white;
    transition:  color 1s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: cyan;
    transition:  color 1s ease-in-out;
}
.dropdown-menu.show{
    position: absolute;
    transform: translate3d(100px, -354px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    padding-left: 20px;
    width: 600px;
    background-color: #212121;
    border: none;
}
.dropdown-menu li{
    display: inline-block;
    list-style-type: none;
    margin-top: 1%;
    margin-right: 0%;
}
.dropdown-menu li a:hover{
    text-decoration: none;
    color: white;
    transition:  color 1s ease-in-out;
}