body {
	font-size: 14px;
	background: white;
	color: black;
}
h1,h2 {
	margin:0;
    text-align: center;
    color: black;
    font-family: "lobster two";
}
form{
    margin-top: 20px;
    text-align: center;
}
ul{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
li{
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
}
#add{
    color: black;
    border: black;
    background: white;
}

