.bd{
    background-image: url(../images/red.jpg);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
}
body{
    background-color: aliceblue;
    margin: 5%;
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 20%;
}
.container{
    margin:0 auto;
	background-color: #000;
	color: #FFF;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity: 0.95;
}
h1{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    text-align: center;
    }
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}
.intro{
    font-size: 1.5em;
}
nav{
    display:inline;
    padding-top: 1%;
}
nav li{
    display: inline-block;
    list-style-type: none;
    margin-right: 2%;

}
nav a{
    color: cadetblue;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
 nav a:hover {
    text-decoration: none;
    color: white;
    transition:  color 1s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: cyan;
    transition:  color 1s ease-in-out;
}